version: '3'
services:
  web:
    container_name: geekshop_web
    build: .
    command: gunicorn geekshop.wsgi:application --bind 0.0.0.0:8000
    expose:
      - 8000
    environment:
      VIRTUAL_HOST: geekshop.ianbel.ru
    volumes:
      - static_volume:/home/django/web/static
      - media_volume:/home/django/web/media
    restart: unless-stopped
    env_file:
      - ./.env
    depends_on:
      - db
#    networks:
#      - geekshop_network

  db:
    container_name: geekshop_db
    image: postgres:12.0-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    restart: unless-stopped
    environment:
      - POSTGRES_USER=django
      - POSTGRES_PASSWORD=swnozard3
      - POSTGRES_DB=geekshop_db
    ports:
      - "5432:5432"
#    networks:
#      - geekshop_network

#  nginx:
#    container_name: geekshop_nginx
#    image: library/nginx:stable-alpine
#    restart: unless-stopped
#    ports:
#      - "80:8080"
#    volumes:
#      - static_volume:/home/django/web/static
#      - media_volume:/home/django/web/media
#      - ./nginx/nginx.prod.conf:/etc/nginx/conf.d/nginx.conf
#    depends_on:
#      - web
#      - db
#    networks:
#      - geekshop_network

volumes:
  postgres_data:
  static_volume:
  media_volume:

#networks:
#  geekshop_network:
#    driver: bridge
networks:
  default:
    external:
      name: nginx-proxy